
html {
    height: 100vh;
}

body {
    position: relative;
    min-height: 100vh;
}
.sky-gradient {
    background: #CAE4F4;
    min-height: 100%;
}
.border-bottom {
    border-bottom: 2px solid #dee2e6 !important;
}
.intro,
.intro a {
    color: #fff;
}
/* customizable snowflake styling */
.inner-sidebar-1 .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration: 10s,3s;
    -webkit-animation-timing-function: linear,ease-in-out;
    -webkit-animation-iteration-count: infinite,infinite;
    -webkit-animation-play-state: running,running;
    animation-name: snowflakes-fall,snowflakes-shake;
    animation-duration: 10s,3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running
}

    .snowflake:nth-of-type(0) {
        left: 1%;
        -webkit-animation-delay: 0s,0s;
        animation-delay: 0s,0s
    }

    .snowflake:nth-of-type(1) {
        left: 10%;
        -webkit-animation-delay: 1s,1s;
        animation-delay: 1s,1s
    }

    .snowflake:nth-of-type(2) {
        left: 20%;
        -webkit-animation-delay: 6s,.5s;
        animation-delay: 6s,.5s
    }

    .snowflake:nth-of-type(3) {
        left: 30%;
        -webkit-animation-delay: 4s,2s;
        animation-delay: 4s,2s
    }

    .snowflake:nth-of-type(4) {
        left: 40%;
        -webkit-animation-delay: 2s,2s;
        animation-delay: 2s,2s
    }

    .snowflake:nth-of-type(5) {
        left: 50%;
        -webkit-animation-delay: 8s,3s;
        animation-delay: 8s,3s
    }

    .snowflake:nth-of-type(6) {
        left: 60%;
        -webkit-animation-delay: 6s,2s;
        animation-delay: 6s,2s
    }

    .snowflake:nth-of-type(7) {
        left: 70%;
        -webkit-animation-delay: 2.5s,1s;
        animation-delay: 2.5s,1s
    }

    .snowflake:nth-of-type(8) {
        left: 80%;
        -webkit-animation-delay: 1s,0s;
        animation-delay: 1s,0s
    }

    .snowflake:nth-of-type(9) {
        left: 90%;
        -webkit-animation-delay: 3s,1.5s;
        animation-delay: 3s,1.5s
    }

.sidebar-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
    float: left;
}

.sidebar-2 {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
}

.content {
    width: 70%;
}
.wrapper {
    height: 100vh;
    position: relative;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-height: -webkit-fill-available;
}


@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.prog-bar {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
    margin-left: 30px;
}
.img-excel {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.form-upload {
    text-align: center;
    margin-top: 25px;
}

.button-sub {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

    .button-sub:hover {
        background: #1d49aa;
    }

    .button-sub:focus {
        outline: none;
        box-shadow: 0 0 0 4px #cbd6ee;
    }